.flexFooter {
  display: flex;
  justify-content: space-around;
  a {
    height: 22px;
    color: var(--text-color);
    &:hover {
      text-decoration: underline;
    }

    &:before,
    &:after {
      height: 2px;
    }
  }
}

.MuiDrawer-paperAnchorRight {
  #examples {
    position: initial;
    margin-bottom: 0;
  }
  .overlay {
    font-size: 2em;
    button span {
      font-size: 2em;
      text-transform: none;
      color: darkgray;
    }
  }
}

footer {
  // margin-top: 30px;
  padding: 20px;
  // background-color: #191c1d;
  background-color: var(--secondary-background-color);
  box-shadow: var(--primary-box-shadow);
  .flex {
    justify-content: space-evenly;
  }
}

// Category Selection

.categoriesSelection {
  height: 0;
  transition: all 0.3s ease-in;
  z-index: 3;
 
  .MuiPaper-root {
    max-height: fit-content;
  }
  &.true {
    height: 50px;
  }
  .MuiDrawer-paperAnchorTop {
    display: block;
    position: relative;
    z-index: 3;
  }
  div:not(.movingOutline) {
    // background-color: rgb(25, 28, 29);
    border-style: none !important;
  }
  .MuiPaper-root.MuiDrawer-paper{
     background-color: var(--secondary-background-color);
    h5{
      color: var(--purple-color);
    }
  }
}

.selection {
  button {
    font-size: 15px;
    padding: 0px 5px;
    // color: rgba(255, 255, 255, 0.8);
    // outline: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(255, 255, 255, 0.8);
    color: var(--gray-color);
    outline: var(--gray-color);
    border: 1px solid var(--gray-color);
    transition: 0.3s ease-in-out;
    letter-spacing: inherit;
    text-transform: initial;
    &:hover {
      //    border: 1px solid #fcbc3e;

      // color: #fcbc3e;
      // color: rgba(0, 200, 0, 0.2);
      color: var(--gray-color);
      opacity: 1;
    }
  }
}

#outlined-form {
  fieldset.Mui-Focused {
    border-radius: 0 !important;
    border-color: #191c1d !important;
  }
}
.movingOutline {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
