.contactForm {
  h2,
  h3,
  h4 {
    font-family: "Karla", sans-serif;
    color: rgb(252, 188, 62);
  }
  font-size: 22px;
  display: grid;
  //  background-color: rgb(25,28,29);
  background-color: #242a2c;
  padding: 20px;
  //border-radius: 5px;
  color: white;
  font-weight: 700;
  .contactForm h3 {
    margin: auto;
  }
  .contactForm label {
    padding: 20px;
  }
  input,
  textarea {
    // background-color: #131127;
    outline: none;
    // border-style: none;
  }
  textarea {
    max-width: 400px;
    width: 100%;
    height: 200px;
    color: grey;
    font-size: 15px;
  }
  // #message {
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }
  .purple {
    width: 200px;
    margin: 10px 29px 0 auto;
  }
}

#formDiv {
  margin: 50px;
  margin: 0px 50px;
  font-size: 22px;
}

// #message {
//   height: 200px;
// }

#aboutSite {
  background-color: rgb(25, 28, 29);
  color: white;
  padding: 20px;
  margin: 50px 50px 0px;
  ol {
    list-style: none;
  }
  h2,
  h3,
  h4 {
    font-family: "Karla", sans-serif;
    color: rgb(252, 188, 62);
  }
}

#aboutSite ol {
  padding-left: 0;
}

@media (max-width: 750px) {
  #aboutSite,
  #formDiv {
    margin: 10px 0px 0px 0px;
  }
}



// #messageLabel {
//   position: absolute;
// }
#message {
  // margin: 0px 0px 0px 119px;
  // height: 134px;
  // width: 224px;
  // resize: vertical;
  min-height: 45px;
}
.contactForm {
  @media (max-width: 430px) {
    input,
    textarea {
      width: 100%;
    }
    // #messageLabel {
    //   position: initial;
    // }
    // textarea#message {
    //   width: 100%;
    //   margin: 0;
    // }
    .purple {
      margin: auto;
    }
  }
}




//featured Images

.category {
  background-color: #f8b147;
  color: #151515;
  padding: 1px 12px !important;
  position: absolute;
  top: -14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 1.05em;
  }
}

$animate: all 0.1s ease-in-out;

#featuredTitle {
  margin: auto auto auto 0;
  }
  

