.modalImage {
  .image {
    max-width: 100%;
    max-height: 100vh;
    position: absolute !important;
  }
  .image picture img {
    object-fit: contain !important;
  }
}
// .blogPiece{
//   *{
//     max-width: 100%;
//   }
// }

@media (max-width: 750px) {
  #blogMenuOpen {
    padding: 0;
  }
  
}
@media(max-width: 1200px){
  section{
    display: block;
  }
  .blogContent{
    // p, a{
    //   font-size: 12px;
    // }
    a{
      overflow-wrap: break-word;
    }
    ul{
      padding: 0;
    }

  }
}
ul.flexbottom {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
}


.blogPiece {
  // background-color: white;
  max-width: 100%;
  margin: 0px auto 20px auto;
  
  padding: 0.5vw;
  font-size: 1.3em;
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  picture > img {
    max-height: 60vh;
  }
}

.blogContent {
    font-family: system-ui;
    // background-color: white;
  // box-shadow: 0px 0px 2px 0px #709aa8;
    // padding: 20px;
    
    font-size: 1.125rem;
    padding: 2rem 2rem 0px;
    box-sizing: border-box;
    h1{
      font-size: 40px;
      // text-align: center;
      font-weight: revert;
    }
    h2,h3,h4,h5{
      font-weight: revert;
      margin-top: 40px;
      margin-bottom: 30px;
      font-family: system-ui;
    }
    img{
      margin: 0 10%;
      width: 80%;
    }
    .image img{
      margin: 0;
      width: 100%;
    }
    p{
      // font-size: 0.9em;
      margin-bottom: 2rem;
      color: #393939;
      line-height: 30px;
      letter-spacing: 0.005em;
    }
    @media(min-width: 1280px){
      padding: 20px;
      p, li{
        font-size: 18px;
      }
      h2{
        font-size: 35px;
      }
      h3{
        font-size: 25px;
      }
      h3{
        font-size: 25px;
      }
    }
    pre.grvsc-container {
      font-size: 16px;
    }
  }
  