
#footerSubscribe{
    width: 30%;
    height: 100%;
    @media(max-width:600px){
        width: 100%;
        margin: 20px 0 0;
        height: auto;
    }
}
@media(max-width:600px){
    .MuiFormControl-root {
        width: 100%;
    }
}



.MuiDrawer-paperAnchorRight{
    #examples{
        position: initial;
        margin-bottom: 0;
    }
    .overlay{
        font-size: 2em;
        button span{
            font-size: 2em;
            text-transform: none;
            color: darkgray;
        }
    }
}