#searchContainer {
    // background-color: #191c1d;
    height: 300px;
    .bigSearch {
      // background: #fff;
  
      padding-left: 0px;
      // max-width: 80%;
      width: 100%;
      background-color: transparent;
      outline: none;
      border-style: none;
      font-size: 50px;
      // color: #262626;
      color: #191c1d;
      transition: all 0.3s;
      border-radius: 6px;
      padding: 20px 60px 20px 0px;
      margin: 0 20px 0 0;
      width: 100%;
      box-sizing: border-box;
  
      &:focus {
        box-shadow: 0 3px 5px #ccc;
        background-color: #fff;
        padding: 20px 40px 20px 20px;
      }
    }
    &:hover {
      .bigSearch {
        // box-shadow: 0 3px 5px #ccc;
        // background-color: #fff;
        padding: 20px 40px 20px 20px;
        // background-color: #44555a;
        // box-shadow: 0 3px 5px rgb(44, 43, 43);
        box-shadow: 0 2px 4px #7e7e7e;
        // color: white;
      }
    }
  }
  
  @media (max-width: 500px) {
    #searchContainer {
      height: 150px;
    }
    #searchContainer .bigSearch {
      font-size: 15px;
      padding: 0;
    }
  }


  #searchContainer {
    position: relative;
  }