// html{
//      scroll-behavior: smooth;
//     // scroll-margin-top: 200px;
// }

summary {
  outline: none;
}

#examples {
  display: block;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(112, 154, 168, 0.3);
  grid-column: 6/7;
  ol {
    padding: 0;
    list-style: none;
  }
  font-size: 1.3em;
  border-style: none;
  border-radius: 5px;
  // border: 1px solid;
  padding: 1rem;
  margin: 2rem 30px;
  max-height: calc(100vh - (4rem * 2));
  overflow: auto;
  top: 4rem;
  height: fit-content;
  
  &::-webkit-details-marker {
    display: none;
  }
}

section {
  display: grid;
  grid-template-columns: 2fr minmax(0, 45ch) 1fr 90ch 1fr minmax(20ch, 45ch) 2fr;
  grid-auto-flow: dense;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.blogPiece {
  grid-column: 4/5;
}

#blogAboutSection{
  .aboutButtons{
    flex-flow: wrap;
  }
}


@media (max-width: 1300px) {
  #blogAboutSection{
    display:none;
  }
  section {
    grid-template-columns: 1rem 1fr 1rem;
  }
  #examples {
    display: none;
    grid-column: 2;
    position: inherit;
  }
  .draw{
    #examples{
      display: block;
    }
  }
  .blogPiece {
    grid-column: 2;
    display: flow-root;
  }
}

#examples,
.examples {
  .example {
    display: flex;

    margin: 0 0 45px;
    .hover {
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      position: relative;
      width: fit-content;
      color: grey;
      &:hover {
        color: rgb(48, 48, 48);
      }
     

      &.active {
        cursor: pointer;
        text-decoration: underline;
        
      }
    }
  }
}

.examples {
  margin: 20px;
  list-style: none;
  font-size: 1.3em;
  padding: 1rem;
  .example,
  ol {
    list-style: none;
    padding: 0;
  }
}
